//primary colour - green
$green1: #00ba9f;
//shades of this colour:

// secondary colour - purple
$navy1: #404973;
// shades of this colour:
$navy2: #303652;

// accent colour - orange
$orange1: #ff9b71;

// black and white
$white: #fbf6f1;
$black: #1d2425;
