//primary colour - green
$green1: #00ba9f;
//shades of this colour:

// secondary colour - purple
$navy1: #404973;
// shades of this colour:

// accent colour - orange
$orange1: #ff9b71;

// black and white
$white: #fbf6f1;
$black: #1d2425;

// gradient
$gradient1: linear-gradient(
  to right top,
  #00ba9f,
  #00a0aa,
  #0083a7,
  #1f6693,
  #404973
);
