@import "colors";
@import "fonts";
@import "sizes";

#foot-navbar{
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: $navy1;
  position: fixed;
  bottom: 0;
  min-width:70%;
  height: $large;
  border-top-right-radius: 10px;
}

.chall-link, .inv-link, .learn-link{
  color: $white;
  text-decoration: none;
  margin: 0 $font-h3;
}

.navbar__link--active {
  color: $navy1;
  font-weight: bold;
  background-color: $green1;
  padding: 0.6rem 0.25rem;
  border-radius: 10px 10px 0px 0px;
}