@import "colors";
@import "fonts";
@import "sizes";

#foot-navbar{
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: $navy1;
  position: fixed;
  bottom: 0;
  min-width:70%;
  height: $large;
  border-top-right-radius: 10px;
}

#foot-navbar > a {
  color: $white;
  text-decoration: none;
  margin: 0 $font-h3;
}