@import "colors";
@import "fonts";
@import "sizes";

.items-container{
margin: $large;

}


.items-overview{
display:flex;
flex-direction: row;
margin: 0;
}

.newItemH3{
margin: 0;
}

.bought-icon,
.suggested-icon{
    width: 25%;
  display: inline-block;
  margin: 0;
}

.help-icon {
    // width: 15%;
    display: block;
    margin: auto;  
}

.new-item-button{
    // display: inline-block;
    display:block;
    width: 2rem;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    cursor: pointer;
}

.bought-container{
display:flex;
flex-direction: column;
}

.suggested-container{
    display:flex;
flex-direction: column;
}