@import "colors";
@import "fonts";
@import "sizes";

nav{
  position: fixed;
  top:0;
  right: 0;
  min-width: 70%;
  height: $large;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $navy1;
  color: $white;
  padding: $smallest;
  border-bottom-left-radius: 10px;
}

#xp-section{
display:flex;
align-items:center;
justify-content: space-around;
min-width: 60%;
}
#xp-section > h3{
  margin: 0 $small;
  font-weight: 500;
}
#xp-bar{
  margin: $small;
}
#xp-bar[value] {
  /* Reset the default appearance */
-webkit-appearance: none;
appearance: none;

  width: 25vw;
  height: $small;
}
#xp-bar[value]::-webkit-progress-bar {
  background-color: $white;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
#xp-bar[value]::-webkit-progress-value {
  background-color: $green1;
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%);
  border-radius: 2px;
}

#avatar-section{
  position: fixed;
  right: 0;
  top: $large;
}
#profile-pic{
  height: 4rem;
  border: $navy1 $small solid;
  border-radius: 100%;
  margin-right: $smallest;
}
nav > h4{
  font-size: $medium;
  margin: 0;
}
.level{
  margin-left: $small;
  margin-right: $small;
}

.popout-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: $godzilla;
  width: 100vw;
  transform: translateY(-100%);
  background-color: $navy1;
  transition: all 0.5s ease-in;
  box-shadow: 1px 0 3px grey;
}

.popout-menu--visible {
  transform: translateY(0);
}