@import "colors";
@import "fonts";
@import "sizes";
@import "reset";

*{
  box-sizing: border-box;
}

main{
  margin-top: $large;
  margin-bottom: $large;
}

body {
  font: 100% $main-text;
  font-size: medium;
  color: $black;
  background-color: $white;
}

h1 {
  font: 100% $title-text;
  font-size: $larger;
  margin-bottom: $medium;
}

h2 {
  font-size: $large;
  font-weight: 600;
  margin-bottom: $medium;
  margin-top: $medium;
}

h3 {
  font-size: $font-h3;
  font-weight: 600;
  margin-bottom: $medium;
}

p {
  margin-bottom: $small;
}
