@import "colors";
@import "fonts";
@import "sizes";
@import "reset";

// paste line below into terminal to keep css updating
// sass --watch private/sass:public/css

* {
  box-sizing: border-box;
}

*:focus {
  outline: solid $orange1 2px;
}

main {
  margin-top: $larger;
  margin-bottom: $large + 1rem;
}

body {
  font: 100% $main-text;
  font-size: medium;
  color: $black;
  background-color: $white;
}

h1 {
  font: 100% $title-text;
  font-size: $larger;
  margin-bottom: $medium;
}

h2 {
  font-size: $large;
  font-weight: 600;
  margin-bottom: $medium;
  margin-top: $medium;
}

h3 {
  font-size: $font-h3;
  font-weight: 600;
  margin-bottom: $medium;
}

p {
  margin-bottom: $small;
}

// Landing page

.logged-out-body {
  background-image: $gradient1;
  display: flex;
  min-height: 100vh;
  align-items: stretch;
  justify-content: center;
}

.logged-out-main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: $large $medium $large $medium;
  margin: 0;
  padding-top: $larger;
}

.landing-title {
  text-align: center;
  text-shadow: -4px 4px $green1;
  color: $white;
  margin-bottom: $large;
}

.intro {
  color: white;
  margin-bottom: $large;
  text-align: center;
}

.landing-button {
  text-align: center;
  display: flex;
  width: 100%;
  background-color: $orange1;
  justify-content: center;
  align-items: center;
  border-radius: $large;
  padding: $small;
  cursor: pointer;
  color: $white;
  border: 2px $white solid;
}

.start-button {
  margin-bottom: $medium;
}

.landing-button:focus {
  color: $orange1;
  background-color: $white;
}

.landing-button:hover {
  color: $orange1;
  background-color: $white;
}

.landing-button-text {
  font-family: $main-text;
  margin: auto;
  font-weight: 500;
}

// intro slides

.intro-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.intro-image {
  width: 100%;
  border-radius: $medium;
  margin-bottom: $large;
  box-shadow: 3px 3px $green1;
  background-color: $white;
}

.intro-char {
  width: 70px;
}

.intro-content {
  display: flex;
  height: 170px;
  align-items: center;
  margin-bottom: $large;
  background-color: $white;
  border-radius: $medium;
  box-shadow: 3px 3px $green1;
  padding: $smallest;
  padding-left: $small;
}
