language: node_js
node_js:
  - "node"
after_success: npm run report-coverage
notifications:
  email:
    on_success: never
    on_failure: never
services:
  - postgresql
before_script:
  - psql -c 'CREATE DATABASE test_race2;' -U postgres
  - psql -c "CREATE USER simon WITH PASSWORD 'pw123';" -U postgres
  - psql -c "ALTER DATABASE test_race2 OWNER TO simon;" -U postgres
