@import url("https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800");
@font-face {
  font-family: "V-Gerb-Bold";
  src: url("../../public/assets/fonts/V-GERB-BOLD.ttf") format("truetype");
}
.nav-main {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 70%;
  height: 2rem;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #404973;
  color: #fbf6f1;
  padding: 0.25rem;
  border-bottom-left-radius: 10px;
}

#xp-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 60%;
}

#xp-section > h3 {
  margin: 0 0.5rem;
  font-weight: 500;
}

#xp-bar {
  margin: 0.5rem;
}

#xp-bar[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  width: 25vw;
  height: 0.5rem;
}

#xp-bar[value]::-webkit-progress-bar {
  background-color: #fbf6f1;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#xp-bar[value]::-webkit-progress-value {
  background-color: #00ba9f;
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%);
  border-radius: 2px;
}

nav > h4 {
  font-size: 1rem;
  margin: 0;
}

.level {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#avatar-section {
  position: fixed;
  right: 0;
  top: 2rem;
}

#profile-pic {
  height: 4rem;
  border: #404973 0.5rem solid;
  border-radius: 100%;
}

.menu-button {
  display: inline-block;
  height: 3.9rem;
  border: none;
  padding: 0;
  margin: 0.25rem 0.25rem 0 0;
  border-radius: 50%;
  background: #404973;
  cursor: pointer;
  transition: background 250ms ease-in-out, transform 0.5s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.menu-button:hover,
.menu-button:focus {
  box-shadow: 0 0 20px #00ba9f;
}

.menu-button:active {
  transform: scale(0.99) rotate(180deg);
  box-shadow: 0 0 20px #ff9b71;
}

.popout-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  height: 8rem;
  transform: translate(100%, -100%);
  background-color: #303652;
  transition: all 0.5s ease-in;
  box-shadow: 1px 0 3px grey;
  width: 100%;
  border-bottom-left-radius: 10px;
}

.popout-menu--visible {
  transform: translate(0, 0);
}

.nav-stats {
  padding-top: 40px;
  padding-left: 0.5rem;
  color: #fbf6f1;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.quick-stats-info {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

#stats-button {
  cursor: pointer;
  background-color: #ff9b71;
  color: white;
  font-family: "Dosis", sans-serif;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  width: 50%;
}

.logged-out-nav {
  position: fixed;
  right: 0;
  margin: 0.5rem;
  height: 2rem;
}

.sign-in-button {
  background-color: #00ba9f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  color: #fbf6f1;
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
}

.sign-in-button:focus {
  background-color: #ff9b71;
}

.sign-in-button-text {
  text-align: center;
  font-family: "Dosis", sans-serif;
  margin: auto;
  font-weight: 500;
}

/*# sourceMappingURL=navbar.css.map */
