@import url("https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800");
@font-face {
  font-family: "V-Gerb-Bold";
  src: url("../../public/assets/fonts/V-GERB-BOLD.ttf") format("truetype");
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: solid #ff9b71 2px;
}

main {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

body {
  font: 100% "Dosis", sans-serif;
  font-size: medium;
  color: #1d2425;
  background-color: #fbf6f1;
}

h1 {
  font: 100% "V-Gerb-Bold", sans-serif;
  font-size: 4rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.5rem;
}

.logged-out-body {
  background-image: linear-gradient(to right top, #00ba9f, #00a0aa, #0083a7, #1f6693, #404973);
  display: flex;
  min-height: 100vh;
  align-items: stretch;
  justify-content: center;
}

.logged-out-main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 2rem 1rem 2rem 1rem;
  margin: 0;
  padding-top: 4rem;
}

.landing-title {
  text-align: center;
  text-shadow: -4px 4px #00ba9f;
  color: #fbf6f1;
  margin-bottom: 2rem;
}

.intro {
  color: white;
  margin-bottom: 2rem;
  text-align: center;
}

.landing-button {
  text-align: center;
  display: flex;
  width: 100%;
  background-color: #ff9b71;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  color: #fbf6f1;
  border: 2px #fbf6f1 solid;
}

.start-button {
  margin-bottom: 1rem;
}

.landing-button:focus {
  color: #ff9b71;
  background-color: #fbf6f1;
}

.landing-button:hover {
  color: #ff9b71;
  background-color: #fbf6f1;
}

.landing-button-text {
  font-family: "Dosis", sans-serif;
  margin: auto;
  font-weight: 500;
}

.intro-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.intro-image {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 2rem;
  box-shadow: 3px 3px #00ba9f;
  background-color: #fbf6f1;
}

.intro-char {
  width: 70px;
}

.intro-content {
  display: flex;
  height: 170px;
  align-items: center;
  margin-bottom: 2rem;
  background-color: #fbf6f1;
  border-radius: 1rem;
  box-shadow: 3px 3px #00ba9f;
  padding: 0.25rem;
  padding-left: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
