<section class="stats-section">
  <h1 class="congrats-title">COMPLETED!</h1>
  <div class="stats-info">
    <p class="congrats-descrip">{{userStats.status}}</p>
  </div>
  <img class="city-img" src="{{userStats.city_img_url}}" alt="city-image">
  <h3 id="congrats-msg">You've cleaned up a new part of our lands!</h3>
  <p class="congrats-descrip">Now go clean up some more... please... </p>

</section>