<h2>This is home dashboard where user can see their challenges</h2>

<section class="challenges-container">
    <header class="challenges-header">
        <h1 class="main-title">New Challenges</h1>
    </header>
    <div class="challenges-container">
        {{#each challenges}}
        <div class="challenge-overview">
            <img src='{{this.img_link}}'>
            <h3>{{this.title}}</h3>
        </div>
        {{/each}}



    </div>

</section>