<section class="intro-section" id="intro-1">
  <img src="../../public/imgs/intro/intro-1.jpg" class="intro-image">
  <div class="intro-content">
    <p class="speech-bubble">Sorry to scare you! I didn't always look like this half-eaten zombie! It all started a
      long time ago, the lands were beautiful. Trees were plentiful, birds were singing, all
      that jazz.</p>
    <img src="../../public/imgs/avatar/level-1.svg" class="intro-char">
  </div>
  <button class="landing-button" id="next1" onclick="window.location.href='/intro/#intro-2'">Next</button>
</section>

<section class="intro-section" id="intro-2">
  <img src="../../public/imgs/intro/intro-2.jpg" class="intro-image">
  <div class="intro-content">
    <p class="speech-bubble">And then we started building. At first it was great. People from all around came and made
      this great city... Not to show off but I lived in that well rad penthouse flat over there.</p>
    <img src="../../public/imgs/avatar/level-1.svg" class="intro-char">
  </div>
  <button class="landing-button" id="next2" onclick="window.location.href='/intro/#intro-3'">Next</button>
</section>

<section class="intro-section" id="intro-3">
  <img src="../../public/imgs/intro/intro-3.jpg" class="intro-image">
  <div class="intro-content">
    <p class="speech-bubble">But with so many people soon, the trash started building up, resources started getting
      eaten up and pollution from our burnt trash started filling out nostrils.</p>
    <img src="../../public/imgs/avatar/level-1.svg" class="intro-char">
  </div>
  <button class="landing-button" id="next3" onclick="window.location.href='/intro/#intro-4'">Next</button>
</section>

<section class="intro-section" id="intro-4">
  <img src="../../public/imgs/intro/intro-4.jpg" class="intro-image">
  <div class="intro-content">
    <p class="speech-bubble">Before we knew it, the placed looked pretty apocalyptic! Plants died, animals died, and we
      all started eating each other (way too quickly for comfort!). And that's why we need you!</p>
    <img src="../../public/imgs/avatar/level-1.svg" class="intro-char">
  </div>
  <button class="landing-button" id="next4" onclick="window.location.href='/intro/#intro-5'">Next</button>
</section>

<section class="intro-section" id="intro-5">
  <img src="../../public/imgs/levels/Level-1.png" class="intro-image">
  <div class="intro-content">
    <p class="speech-bubble">Take on the challenges to reduce your waste and start living a zero waste lifestyle.
      They're super duper easy to be honest - we're just really lazy! But with you as an inspiration it will start
      encouraging others
      to do the same.</p>
    <img src="../../public/imgs/avatar/level-1.svg" class="intro-char">
  </div>
  <button class="landing-button" id="next4" onclick="window.location.href='/intro/#intro-6'">Next</button>
</section>

<section class="intro-section" id="intro-6">
  <img src="../../public/imgs/levels/Level-8.png" class="intro-image">
  <div class="intro-content">
    <p class="speech-bubble">For every challenge you complete, a new piece of our land will be saved. Earn points,
      level up and become the Zero Hero Legend we so badly need! Plus you'll also fell really good about yourself!
      </br>So... are you ready?</p>
    <img src="../../public/imgs/avatar/level-1.svg" class="intro-char">
  </div>
  <button class="landing-button" id="next4" onclick="window.location.href='/dashboard'">I'm ready! Start my Zero Waste
    adventure!</button>
</section>