{{!-- hello --}}

<h1>RACE TO ZERO</h1>

<p>Your step-by-step guide to start reducing
  waste and set you on the way to
  achieving a zero waste lifestyle.

  Tackle the challenges, save your city and
  become a true Zero Hero!</p>

<button class="start-button" name="start-button" onclick="window.location.href='/dashboard'">
  <h3>Start your adventure!</h3>
</button>

<button class="learn-button" name="learn-button" onclick="window.location.href='/learn'">
  <h3>Wait! What's zero waste?</h3>
</button>