<div class="learn-intro">
    <h2>What is </br> zero waste?</h2>
    <p>The simple answer: We aim to send nothing to a landfill. We reduce what we need, reuse as much as we can, send
        little to be recycled, and compost what we cannot.
    </p>
    <p>
        {{!-- We believe in that it’s in everyones best interest to begin to move to a zero waste lifestyle, for
        ourselves
        and
        for the enviroment. --}}

    </p>
</div>


<section class="learn-container">
    <div class="holder">
        <h2><a href="/learn/Plastic">Plastic</a></h2>
    </div>
    <div class="holder">
        <h2><a href="/learn/Clothing">Clothing</a></h2>
    </div>
    <div class="holder">
        <h2><a href="/learn/Food">Food</a></h2>
    </div>
    <div class="holder">
        <h2><a href="/learn/Electric">Electric</a></h2>
    </div>
    <div class="holder">
        <h2><a href="/learn/Glass">Glass</a></h2>
    </div>
    <div class="holder">
        <h2><a href="/learn/Paper">Paper</a></h2>
    </div>
</section>