
<div>   

   

</div>
<h2>Learn more about your impact</h2>  
<p>The simple answer: We aim to send nothing to a landfill. We reduce what we need, reuse as much as we can, send little to be recycled, and compost what we cannot. 

We believe in that it’s in everyones best interest to begin to move to a zero waste lifestyle, for ourselves and for the enviroment. 

</p>   

<section class="learn-container">
    <div class="holder fill">
    <h2><a href="/learn/plastic">Plastic</a></h2>
    </div>
    <div class="holder fill">
    <h2><a href="/learn/clothing">Clothing</a></h2>
    </div>
    <div class="holder fill">
    <h2><a href="/learn/foodwaste">Food Waste</a></h2>
    </div> 
</section>
