<h2>This is where the user can view their stats</h2>
<section class="stats-section">
    <img src="{{userStats.city_img_url}}" alt="city-image">
    <p>Status: {{userStats.status}}</p>
    <p>My Rank: {{userStats.rank}}</p>
    <p>My Level: {{userStats.my_level}}</p>
    <p>My Points: </p>
    <p>Completed Challenges: </p>




</section>