<header>
  <nav>
    <div id="sign-in">
      <button class="sign-in-button" name="sign-in-button" onclick="window.location.href='/dashboard'">
        <h3>Sign In</h3>
      </button>
    </div>
  </nav>
</header>