<header>
    <nav>
        <div id="xp-section">
            <h4>Earned Points: <span class="getPoints"></span></h4>
            <progress max="50" value="40" id="xp-bar"></progress>
        </div>
        <h4 class="level">Waste Warrior</h4>
        <div id="avatar-section">
            <button class="menu-button">
                <img id="profile-pic" src="/public/imgs/Avatar.png" alt="Profile picture">
            </button>
        </div>
    </nav>
    <menu class="popout-menu">
        <h4>Current Level: <span class="myLevel"></span></h4>
        <h4>Points to Next Level: <span class="pointsLeft"></span></h4>
        <button name="View-Stats" id="stats-button" onclick="window.location.href='/stats/'">View My Stats</button>
    </menu>
</header>