<header>
    <nav>
        <div id="xp-section">
            <h3>{{getPoints}}</h3>
            <h3>XP</h3>
            <progress max="100" value="50" id="xp-bar"></progress>
        </div>
        <div id="avatar-section">
            <h3 class="level">Waste Warrior</h3>
            <img id="profile-pic" src="/public/imgs/Avatar.png" alt="Profile picture">
        </div>
    </nav>
</header>