{{!-- this is the same as the selected layout but the cross sends to challenges --}}

<!DOCTYPE html>
<html lang="en">
{{> header}}

<body class="selected-item-body">
  <div class="hide-nav">{{> navbar}}</div>
  <main class="selected-item-main">
    <button name="close" id="close-button" onclick="window.location.href='/dashboard'"><img class="close-icon" src="../../../public/imgs/delete.svg"
        alt="close-icon"></button>
    {{{body}}}
  </main>
  {{> scripts }}

</body>

</html>