{{!-- hello again --}} {{!-- this is the layout for when item is selected e.g. challenge or inventory item --}}

<!DOCTYPE html>
<html lang="en">
{{> header}}

<body class="selected-item-body">
  <main class="selected-item-main">
    <button name="close" id="close-button" onclick="goBack()"><img class="close-icon" src="../../../public/imgs/delete.svg"
        alt="close-icon"></button>
    {{{body}}}
  </main>
  {{> scripts }}

</body>

</html>