{{!-- hello again --}} {{!-- this is the layout for when item is selected e.g. challenge or inventory item --}}

<!DOCTYPE html>
<html lang="en">
{{> header}}

<body>
  {{> navbar}}

  <main>
    <h1>Content Selected Layout!</h1>
    {{{body}}}
  </main>
  {{> footer}}
  {{> scripts }}

</body>

</html>