{{!-- hello again --}} {{!-- layout for when the user isn't logged in --}}

<!DOCTYPE html>
<html lang="en">
{{> header}}

<body class="logged-out-body">
  {{> navbar-loggedout}}
  <main class="logged-out-main">
    {{{body}}}
  </main>

</body>

</html>