{{!-- hello again --}} {{!-- this is the main layout for when you're logged in --}}

<!DOCTYPE html>
<html lang="en">
{{> header}}

<body>
    {{> navbar}}

    <main>
        {{{body}}}
    </main>
    {{> footer}}

</body>

</html>